
     <!-- <form (ngSubmit)="onSignUp(SignInForm)" #SignInForm="ngForm"> -->
      <!-- <form (ngSubmit)="onSignUp()" #SignInForm="ngForm">
        <ng-container ngModelGroup="userInfo"> 
        <div class="form-group">
          <label for="username">User Name*</label>
          <input type="text" required
          #username="ngModel"
          ngModel id="username" name="UserName" class="form-control">
          <p class="alert alert-danger"
          *ngIf="username.touched  && username.invalid"
          >Please Fill Required Info</p>
          </div>
          <div class="form-group">
            <label for="email">Email*</label>
            <input type="text" required 
            #email="ngModel"
            ngModel id="email" name="Email" class="form-control">
            <p class="alert alert-danger"
            *ngIf="email.touched &&  email.invalid"
            >Please Enter Email</p>
            </div>
        </ng-container> 
          <div class="form-group">
            <label for="secretquestion">Secret Question*</label>
            <select [ngModel]="secretquestionDefault" required type="text" name="secretquestion" id="secretquestion" class="form-control">
              <option value="favbook">Favourate Book</option>
              <option value="favteacher">Favourate Teacher</option>
            </select>
            </div>
            <div class="form-group">
              <label for="answer">Answer</label>
              <textarea name="answer" required ngModel id="answer" class="form-control" rows="5"></textarea>
            </div>
            <div class="radio form-group" *ngFor="let mode of modeofContact">
              <label [for]="mode.moc">
      <input type="radio" ngModel name="Contactmode" [value]="mode.moc" [id]="mode.moc">{{mode.moc}}
              </label>
            </div>
          <div class="form-group">
            <label for="subscribToEmail">Subscribe To Email</label>
            <input type="checkbox" ngModel 
            name="subscribToEmail" id="subscribToEmail">
            </div>
          <div class="text-right">
            <button 
            [disabled]="SignInForm.invalid"
            class="btn btn-primary" type="submit">Submit</button>
            <button 
          class="btn btn-primary ml-2" type="button"
          (click)="onEditInfo()"
          >Edit Form</button>
          </div>
      </form>  -->
   

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <!-- <app-td-form></app-td-form> -->
      <app-reactivform></app-reactivform>
    </div>
  </div>
</div>
